.custom-navbar {
  --td-navbar-left-arrow-size: 28px;

  .custom-navbar-title {
    font-family: Noto Sans S Chinese, Noto Sans S Chinese;
    font-weight: 500;
    font-size: 36rpx;
    color: #333333;
    line-height: 40rpx;
    font-style: normal;
    text-transform: none;
  }
}